
body{
    text-align: center;
}

table{
    margin-left: auto;
    margin-right:auto;
}

.footer{
    background-color:black;
    color:white;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
}